* {
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    display: inline;

}


header .name {
    outline: red dashed;
    font-family: Arial, Helvetica, sans-serif ;
    padding: 30px;
    text-align: left;
    background: #13293d;
    color: aliceblue;
    font-size: 50px;
}
nav{
    outline: green dashed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: blanchedalmond;
    padding: 15px;
    ;
}
/*Was finally able to move the nav bar to the right side of the page but i am not sure if this is the "correct" way to go about it.*/
 nav ul li{
    outline: purple dashed;
    display: inline-block;
    position: relative;
    left: 200%;
    list-style: none;
    margin: 10px 20px;   
}



nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    
}
/*This section will control what happens after the mouse hovers over the items on the nav bar*/
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: hotpink;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: .9s;

}
nav ul li a:hover::after{
    width: 100%;
}
 
#about-me{

    background-color:#13293d ;
    
    outline: teal dashed;
    
    color: aliceblue;
}
/********************About Me Section*******************/
#about-me .about-me{
    padding-top: 20px;
    padding-bottom: 1%;
    padding-left: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 26px;
    font-weight: bold;
    color: aliceblue;


}
#about-me p{
    padding-bottom: 40px;
    padding-left: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/************************* My Work******************/

h2 {
    border: dodgerblue dashed;
    font-size: 26px;
    padding: 20px;
    background-color: #13293d;
    color: aliceblue;
    font-weight: bold;
  }
  
  section  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    background-color: purple;
    flex:1 0 200px;
    padding: 20px;
    
  }

  .my-work{
    outline: blue dashed;
    display: flex;
    justify-content: space-around;

    
  }
/*my cards*/
.my-work section{
    outline: yellow dashed;

    width: 50rem;
    display: inline-block;
    margin: 2rem;
    box-shadow: 5px 8px 40px 20px #13293d;
    border-radius: 10px;
    height: 400px;
}






  

  
  




