* {
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    display: inline;

}

header h1 {
    outline: red dashed;
    font-family: Arial, Helvetica, sans-serif ;
    padding: 30px;
    text-align: left;
    background: #13293d;
    color: aliceblue;
    font-size: 50px;
}
nav{
    outline: green dashed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: blanchedalmond;
    padding: 15px;
    ;
}
/*Was finally able to move the nav bar to the right side of the page but i am not sure if this is the "correct" way to go about it.*/
 nav ul li{
    outline: purple dashed;
    display: inline-block;
    position: relative;
    left: 200%;
    list-style: none;
    margin: 10px 20px;   
}



nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    
}
/*This section will control what happens after the mouse hovers over the items on the nav bar*/
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: hotpink;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: .9s;

}
nav ul li a:hover::after{
    width: 100%;
}
 
section h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
display: flex;
flex-direction:flex-end ;}
