* {
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    display: inline;

}

header h1 {
    outline: red dashed;
    font-family: Arial, Helvetica, sans-serif ;
    padding: 30px;
    text-align: left;
    background: #13293d;
    color: aliceblue;
    font-size: 50px;
}
nav{
    outline: green dashed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: blanchedalmond;
    padding: 15px;
    ;
}
 nav ul li{
    outline: purple dashed;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;   
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: hotpink;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;

}
nav ul li a:hover::after{
    width: 100%;
}
 
