*{
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: inline;

}


header .name {
   /* outline: rgb(159, 242, 6) dashed;*/
    font-family: Helvetica;
    padding: 80px;
    text-align: left;
    background: white;
    color: black;
    font-size: 50px;
}

nav {
   /* outline: rgb(0, 7, 0) dashed;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    padding: 15px;
    ;
}

/*Was finally able to move the nav bar to the right side of the page but i am not sure if this is the "correct" way to go about it.*/
nav ul li {
    /*outline: purple dashed;*/
    display: inline-block;
    position: relative;
    left: 200%;
    list-style: none;
    margin: 10px 20px;

}



nav ul li a {
   /*color: black;*/
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-family: helvetica;

}

/*This section will control what happens after the mouse hovers over the items on the nav bar*/
nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: hotpink;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: .9s;

}

nav ul li a:hover::after {
    width: 100%;
}


/********************About Me Section*******************/
#about-me {
    display: flex;
    padding: 10px;
    font-family: helvetica;
    background-color: white;
    /*outline: rgb(16, 15, 15) dashed;*/
    color: black;
}
.about{
    display: flex;
justify-content: center;
}
.picture {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-left: 500px;

}

p {
   /* border: #f01285 dashed;*/
    padding-bottom: 40px;
    padding-left: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/************************* My Work******************/

h2 {
    /*border: rgb(146, 16, 7) dashed;*/
    font-size: 50px;
    padding: 20px;
    background-color: white;
    color: black;
    font-family: Helvetica;
    width: 200px;
    display: flex;
    justify-content: center;
    }

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    /*flex:1 0 200px;*/
    padding: 20px;
    background: rgb(190, 208, 102);

}

section:hover {
    background-color: hotpink;
}

.my-work {
    /*outline: blue dashed;*/
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;


}

/*my cards*/
.my-work section {
    outline: yellow dashed;
    width: 40rem;
    display: inline-block;
    margin: 30px;
    border-radius: 10px;
    height: 250px;
    /*display: flex;
    flex-wrap: wrap;*/

}

/*.horizeon-link {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    margin-top: 1rem;
    flex: 2 0 0 2;
}*/

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin-right: 125px;
    
}

#Horizeon {
    width: 100%;
    display: block;
}

.horizeon-image{
    display: flex;
    justify-content: center;
    width: 300px;
    

}