* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: inline;

}


header .name {

    font-family: Helvetica;
    padding: 80px;
    text-align: left;
    background: white;
    color: black;
    font-size: 50px;
}

nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    padding: 15px;
    ;
}

/*Was finally able to move the nav bar to the right side of the page but i am not sure if this is the "correct" way to go about it.*/
nav ul li {

    display: inline-block;
    position: relative;
    left: 200%;
    list-style: none;
    margin: 10px 20px;

}



nav ul li a {
    /*color: black;*/
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-family: helvetica;

}

/*This section will control what happens after the mouse hovers over the items on the nav bar*/
nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: hotpink;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: .9s;

}

nav ul li a:hover::after {
    width: 100%;
}


/********************About Me Section*******************/
#about-me {
    display: flex;
    padding: 10px;
    font-family: helvetica;
    background-color: white;

    color: black;
}

.about {
    display: flex;
    justify-content: center;
}

.picture {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-left: 500px;
    margin-bottom: 30px;

}

p {

    padding-bottom: 40px;
    padding-left: 200px;
    display: flex;
    justify-content: center;
    margin-left: 200px;

    
}

/************************* My Work******************/

h2 {
    font-size: 50px;
    padding: 20px;
    background-color: white;
    color: black;
    font-family: Helvetica;
    width: 200px;
    display: flex;
    justify-content: center;
    
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    background: rgb(190, 208, 102);
}


section:hover {
    background-color: hotpink;
}

.my-work {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;


}

/*my cards*/
.my-work section {
    width: 40rem;
    display: inline-block;
    margin: 30px;
    border-radius: 10px;
    height: 250px;


}



.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin-right: 125px;

}

#Horizeon {
    width: 100%;
    display: block;
}
#Horizeon header{
    text-decoration:none;
    color: black;
    margin-bottom: 2px;
}
#horizeon-image .horizeon-image {
    display: flex;
    justify-content: center;
    width: 300px;
}


#pre-work-image .pre-work-image{
    display: flex;
    justify-content: center;
    width: 200px;
}
#pre-work header{
    text-decoration: none;
    color: black;
    margin-bottom: 2px;
}

#contact {
    padding: 20px;
    text-align: center;
    background-color: white;

}

#contact-link ul {
    display: flex;
    justify-content: space-between;

}

#contact-link li {
    flex: 1;
    margin-right: 10px;

}

#contact-link a {
    text-decoration: none;
    color: black;

}
#footer footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-weight: bolder;
}